<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
 </head>
    <body>
        <div>
            <!--<h2>Basic React Shell -- Test answer: <%= answer %></h2>-->
            <div id="root">
                Loading...
            </div>
        </div>
        <script src='/bundle.js' charset="UTF-8"></script>
    </body>
</html>