<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="appStyle.css">
    <script type="text/javascript" src="https://www.carqueryapi.com/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.carqueryapi.com/js/carquery.0.3.4.js"></script>

 </head>
    <body>
            <div id="root">
                Loading...
                </div>
           
        <script src='/bundle.js' charset="utf-8"></script>
    </body>
</html>