<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>CSS Ignite Application</title>
        <link rel="stylesheet" type="text/css" href="appStyle.css">
    </head>
    <body>
            <div id="root">
                Loading...
                </div>
        <script src='/bundle.js' charset="utf-8"></script>
    </body>
</html>