<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="appStyle.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script type="text/javascript" src="https://www.carqueryapi.com/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.carqueryapi.com/js/carquery.0.3.4.js"></script>

 </head>
    <body class='base'>
        <div class='orange-block'>
            <div class='blue-block'>
                <div id="root">
                    Loading...
                </div>
            </div>
        </div>
        <script src='/bundle.js' charset="utf-8"></script>
    </body>
</html>